@import url("https://fonts.googleapis.com/css2?family=Galindo&display=swap");

* {
  background-color: #f7cacd;
  margin: 0;
  overflow: hidden;
  font-family: "Galindo", serif;
}

.heart {
  position: absolute;
  color: red;
  font-size: 20px;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(1.2);
    opacity: 0;
  }
}

#img {
  display: flex;
  justify-content: center;
  margin: 120px;
}

#aimg {
  width: 250px;
  height: 390px;
}
#jimg {
  width: 250px;
  height: 390px;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #64113f;
}
